# Cloudflare R2 Credentials
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_PUBLIC_URL=

# The URL of your Frontend (Cloudflare Pages)
# Example: https://atoz-links.pages.dev
VITE_FRONTEND_API_URL=
